@charset "utf-8";
/* CSS Document */

.flex-grid{
	display: flex;
	gap: 12px;
	flex-wrap: wrap;
}

.col-list{
	min-width: 200px;
}

@media (min-width: 700px) {
	
}

@media (max-width: 700px) {
	.flex-grid {
    	display: block;
  	}
}

.container {
  	position: relative;
  	width: 90%;
 	max-width: 1100px;
  	margin: 0 auto;
  	padding: 0 20px;
  	box-sizing: border-box; 
}


